<% if resource.errors.any? %>
  <div id="error_explanation" class="max-w-md mx-auto py-3 text-center mb-5 leading-normal text-red-700 bg-red-100 rounded-lg" role="alert">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
