<!-- navbar goes here -->
<nav class="bg-gray-100">
  <div class="max-w-6xl mx-auto px-4"> 
    <div class="flex justify-between">
      <div class="flex space-x-4">
		  <!-- logo -->
		  <div>
		  	<a href="" class="flex px-2 py-3 text-gray-700">
		  		<svg class="h-6 w-6 mr-2 text-indigo-400" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8" />
</svg>
			<span class="font-semibold">Xpensetrackr</span>
		  	</a>
		  </div>
	  </div>
	  <!-- secondary nav -->
	  <div class="hidden md:flex items-center space-x-1">
	  	<a href="" class="px-2 py-3 text-gray-700">Login</a>
	  	<a href="" class="px-2 py-1 bg-indigo-400 text-indigo-100 rounded">Sign Up</a>
	  </div>

	  <!-- mobile button goes here -->
	  <div class="md:hidden flex items-center">
	  	<button class="mobile-menu-button">
	  		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
</svg>
	  	</button>
	  </div>
	</div>
  </div>

  <!-- mobile menu goes here -->
  <div class="mobile-menu md:hidden">
  	<a href="" class="block px-4 py-2 text-sm hover:bg-gray-200">Income</a>
  	<a href="" class="block px-4 py-2 text-sm hover:bg-gray-200">Expense</a>
  </div>
</nav>